.carousel {
  width: 71vw; 
  overflow: hidden;
  height: 34rem !important;
  padding: 5rem; 
  top: 2rem;
}

@media screen and (min-width:900px) and (max-width:1250px) {
  .carousel{
    height: 48rem !important;
  }
}


@media screen and (max-width: 900px) and (min-width: 440px) {  
  .carousel{
    width: 80vw !important;
    height: 54rem !important;
  }
}

@media screen and (min-width: 700px) and (max-width:900px) {  
  .carousel{
    width: 55vw !important;
    height: 54rem !important;
  }
}

@media screen and (max-width: 700px) and (min-width:580px) {
  .carousel{
    padding-left: 25%;
  }
}

@media screen and (max-width:440px) {
  .carousel{
    width: 100vw !important;
    height: 54rem !important;
  }
}

@media screen and (max-width: 355px) {
  .carousel{
    padding: 4rem !important;
  }
}