@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

  header{
    width: 100%;
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0 1rem 2rem;
    z-index: 10001;

    &.scrolled{
      background-color: #333;
    }

    img{
      max-width: 50px;
      max-height: 50px;
    }

    ul{
      list-style: none;
      display: flex;
      font-size: 1.125em;
      gap: 3rem;
      padding-right: 6rem;

      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }

  #initial-banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100vw;

    #content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 55%;
      right: 2rem;
      transform: translateY(-60%);
      text-align: center;
      z-index: 3;

      #title {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5em;
        font-weight: 600;
        margin: 1rem 0;
        color: #fff;
      }

      #subtitle {
        font-size: 1.45em;
        max-width: 20.75rem;
        color: #fff;
        margin-top: 0;
      }

      button {
        width: fit-content;
        height: 3rem;
        background-color: #FF7800;
        border: none;
        border-radius: 2rem; 
        color: #FFFFFF;
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: background-color 0.2s ease;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      
        &:hover {
          transform: translateY(-2px);
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      z-index: 2;
    }
  
  }

  #intro {
    background-color: #f7f7f7;
    padding: 4rem;
    text-align: center;
    
     h1 {
      font-size: 2.25em;
      margin-bottom: 1.25rem;
    }
    
     p {
      font-size: 1.125em;
      margin-bottom: 2.5rem;
    }
    
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 3rem 4rem;
      gap: 4rem;
    }
    
    .grid-item {
      background-color: #fff;
      padding: 2rem 1.25rem 0.75rem 1.25rem;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      img{
        scale: 2;
      }

      &:hover{
        scale: 1.125;
      }
    }
    
    .grid-item h2 {
      font-size: 1.25em;
      margin-bottom: 10px;
    }
    
    .grid-item p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  #cards-container{
    width: 100%;
    max-height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2C464;
    padding: 2.5rem 0 4rem 0;

    h1{
      font-family: "Montserrat", sans-serif;
      font-size: 3em;
      margin: 0;
      position: relative;
      top: 4.5rem;
    }
  }
  
  #about-us {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 6rem;
    gap: 5rem;

    #image-container{
      width: 50%;

      img{
        border-radius: 10px;
        width: 100%;
      }  
    }

   .section-content{
    width: 50%;
    font-family: 'Open Sans';
    font-size: 1.125em;

      h1 {
      font-size: 2.25em;
      margin-top: 0;
      margin-bottom: 2rem;
      font-family: 'Montserrat';
      }
    }
  }

  #footer{
    width: 100%;
    background-color: #333;
    color: #fff;
    text-wrap: nowrap;
    text-align: center;

    a{
      color: #333;
    }

    .wrapper {
      display: flex;
      list-style: none;
      height: 120px;
      width: 100%;
      padding-left: 0;
      font-family: "Poppins", sans-serif;
      justify-content: center;
    }
    
    .wrapper .icon {
      position: relative;
      background: #fff;
      border-radius: 50%;
      margin: 10px;
      width: 50px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip {
      position: absolute;
      top: 0;
      font-size: 14px;
      background: #fff;
      color: #fff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .tooltip::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #fff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .wrapper .icon:hover .tooltip {
      top: -45px;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
      background: #1877f2;
      color: #fff;
    }
    
    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
      background: #1da1f2;
      color: #fff;
    }
    
    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
      background: #e4405f;
      color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  
  #initial-banner{

    #content{
      scale: 0.7;
    }
  }

  #intro{
    width: 100% !important;
    padding: 3rem 0 !important;

    .grid{
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem !important;
    }

    .grid-item{
      width: 16rem;
      height: fit-content;
    }
  }

  #about-us{
    flex-direction: column-reverse;
    padding: 5rem 0 !important;
    gap: 3rem !important;
  }
}

@media (max-width: 900px) {
  header{

    ul{
      padding-right: 3rem !important;
      gap: 1.5rem !important;
      font-size: 0.9em !important;
      text-wrap: nowrap;
    }

    img{
      max-width: 38px !important;
      max-height: 38px !important;
    }
  }

  #initial-banner{

    #content{
      width: 100%;
      justify-content: center;
      top: 70% !important;
      right: 0 !important;
    }

    #title{
      font-size: 2.5em !important;
    }

    #subtitle{
      font-size: 1.25em !important;
    }

    button{
      font-size: 1em !important;
    }

    img{
      height: 26rem !important;
    }
  }

  #intro{

    h1{
      font-size: 1.75em !important;
    }

    p:first-of-type{
      font-size: 1.25em !important;
    }
  }

  #about-us{

    #image-container, .section-content{
      width: 80% !important;
    }
  }

  #cards-container{
    padding: 12.5rem 0 8rem 0 !important;
  }
}

@media screen and (max-width: 500px) {
  #cards-container{
    padding: 12.5rem 0 4rem 0 !important;
  }
}