<div id="main">
  <header>
    <div id="content">
      <p id="title">Galeria de Gatos</p>
      <p id="subtitle">Uma galeria de fotos de gatos para você se divertir!</p>
      <a href="#cards-container">
        <button>Confira</button>
      </a>
    </div>
    <div class="mask"></div>
    <img id="img-main" src="../assets/banner.jpg" alt="cute cat" />
  </header>

  <section class="intro">
    <h1>Encontre o gato perfeito para você!</h1>
    <p>Explore nossas páginas e descubra as características únicas de cada raça de gato.</p>
    <div class="grid">
      <div class="grid-item">
        <img src="../assets/person_search.svg" alt="Search" />
        <h2>Conheça as raças de gatos</h2>
        <p>Descubra as características, habilidades e curiosidades de cada raça de gato.</p>
      </div>
      <div class="grid-item">
        <img src="../assets/family_star.svg" alt="Friendly Star" />
        <h2>Encontre o seu gato ideal</h2>
        <p>Use nossas páginas para encontrar o gato que melhor se adequa ao seu estilo de vida e personalidade.</p>
      </div>
      <div class="grid-item">
        <img src="../assets/pets.svg" alt="Pets" />
        <h2>Aprenda mais sobre gatos</h2>
        <p>Aprenda sobre os cuidados, saúde e comportamento dos gatos, e como criar um ambiente feliz e saudável para eles.</p>
      </div>
    </div>
  </section>
  
  <section id="cards-container">  </section>
</div>